* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #444;
  padding: 0;
  margin: 0;
  border-top: 10px solid #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 0;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  font-size: 28px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h3 + p::first-line {
  color: red;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.4;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

footer {
  font-size: 18px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-posts {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.main-header {
  background-color: #f7f7f7;
  background-color: hsl(0, 0%, 87%);
  padding: 20px 40px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-link {
  margin-left: 1em;
}

aside {
  background-color: #f7f7f7;
  border: 5px solid #1098ad;
  border-width: 5px 0;
  padding: 50px 40px;
  /* max-width: 500px; */
}
article {
  margin-bottom: 60px;
}
article li:first-child {
  font-weight: bold;
}

/* 
Not best practice
a {
  color: #1098ad;
} */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: 900;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

#copyright {
  color: red;
}

.post-header {
  margin-bottom: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

.post-img {
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.like-btn {
  font-size: 1.2rem;
  padding: 0.5em 1em;
  text-align: center;
  position: absolute;
  right: 1em;
  bottom: 0;
  cursor: pointer;
}

.post-header h2:after {
  content: "TOP";
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  color: black;
  background-color: #ffe70e;
  display: inline-block;
  padding: 0.5em 0.5em;
  right: 0;
  top: 0;
}

.author-container {
  display: flex;
  margin-bottom: 20px;
}

.profile-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.author {
  align-self: flex-end;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

article {
  flex-basis: 70%;
}

aside {
  flex-basis: 25%;
}

.posts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 1em;
}

.posts-container img {
  /* margin-right: 1em; */
  width: 70px;
  height: 70px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 0;
  display: block;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
strong {
  font-weight: inherit;
}
/* h1 {
  float: left;
}

nav {
  float: right;
} 

.main-header::after {
  content: "";
  display: table;
  clear: both;
}


article {
  float: left;
  width: 70%;
}

aside {
  float: right;
  width: 25%;
}

footer {
  clear: both;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
*/
