* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
}
.container {
  width: 1000px;
  border: 3px solid black;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
}

.header {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  background-color: #e7e7e7;
  padding: 1.5em;
  grid-column: 1 / -1;
}

.price {
  font-size: 1.35rem;
}

.shipping {
  font-size: 0.9rem;
  color: #949494;
  font-weight: bold;
}

.btn-cart {
  grid-column: 1 / -1;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.45rem;
  border: 0;
  width: 100%;
  padding: 18px 0;
}
.btn-cart:hover,
.btn-cart:focus {
  background-color: white;
  color: black;
}

.info {
  color: black;
}

.info:hover,
.info:focus {
  text-decoration: none;
}

.item-img {
  width: 250px;
  height: 250px;
}

ul {
  list-style: square;
  margin: 15px;
}

li {
  margin-bottom: 13px;
}

.sale {
  background-color: #ec2f2f;
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 0.15em 1em;
  position: absolute;
  left: -40px;
  top: -17px;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.color-picker {
  list-style: none;
  margin: 13px 0 0;
  display: flex;
  gap: 20px;
}

.box {
  background-color: black;
  height: 25px;
  width: 25px;
}

.color2 {
  background-color: royalblue;
}

.color3 {
  background-color: red;
}

.color4 {
  background-color: orange;
}
.color5 {
  background-color: green;
}

.color6 {
  background-color: plum;
}

section {
  padding-top: 1em;
  flex: 1;
}

/* .row {
  display: flex;
  gap: 40px;
} */

.product-price-info {
  display: flex;
  gap: 30px;
  align-items: center;
}
