body {
  font-family: sans-serif;
  border: 3px solid black;
  line-height: 1.6;
}

.header {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: #e7e7e7;
}

.price {
  font-size: 1.35rem;
}

.shipping {
  font-size: 0.9rem;
  color: #949494;
  font-weight: bold;
}

.btn-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.45rem;
  border: 0;
}
.btn-cart:hover,
.btn-cart:focus {
  background-color: white;
  color: black;
}

.info {
  color: black;
}

.info:hover,
.info:focus {
  text-decoration: none;
}

ul {
  list-style: square;
}
